<mat-card style="margin: 25px">


  <md-card-title>
    <h2>

    <span *ngIf="!question.id">New Question</span>
    <span *ngIf="question.id">Edit Question</span>
    </h2>
  </md-card-title>

  <form >

    <mat-card-content>
      <mat-form-field class = 'full-width'>
        <input  matInput [(ngModel)]="question.text" placeholder = 'Question' name="question" >
      </mat-form-field>
      <mat-form-field class = "full-width" >
        <input  matInput [(ngModel)]="question.correctAnswer" placeholder = 'Correct Answer' name="correctAnswer" >
      </mat-form-field>
      <mat-form-field class = "full-width">
        <input  matInput [(ngModel)]="question.option1" placeholder = 'Wrong Answer 1' name="option1" >
      </mat-form-field>
      <mat-form-field class = "full-width">
        <input  matInput [(ngModel)]="question.option2" placeholder = 'Wrong Answer 2' name="option2" >
      </mat-form-field>
      <mat-form-field class = "full-width">
        <input  matInput [(ngModel)]="question.option3" placeholder = 'Wrong Answer 3' name="option3" >
      </mat-form-field>
    </mat-card-content>


  </form>
  <mat-card-actions>
  <button (click)='post(question)' *ngIf="!question.id" mat-button>submit</button>
  <button (click)='put(question)' *ngIf="question.id" md-button>Edit</button>
  <button (click)='question = {}' *ngIf="question.id" md-button>New</button>
  </mat-card-actions>
</mat-card>