@page "/EmployeeList"
@inherits EmployeeListBase

<h3>Employee List</h3>

<table>
    <thead>
    
table head
    
    </thead>
    
        <tr>
            row
        </tr>
        
    
    
</table>

