# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.fromScratch.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\areddy\Desktop\Algorithm\webdev\dotNet\dotNetScratch\.idea\.idea.fromScratch.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
